<%= form_for(@post, url: choose_new_or_edit) do |f| %>
<% if @post.errors.any? %>
 <div id="error_explanation">
  <h2><%= @post.errors.count %>件のエラーがあります。</h2>

  <ul>
  <% @post.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
  <% end %>
　</ul>
 </div>
<% end %>

  <%= f.label "タイトル" %>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label "コメント" %>
  <%= f.text_field :content, class: 'form-control' %>
  <br>
  <div class="field">
    <% if @post.image? %>
      <div class="thumbnail">
        <%= image_tag @post.image.url %>
      </div>
    <% end %><br>
    <%= f.label "画像" %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @post.persisted? && @post.image? %>
      <label>
        <%= f.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
  </div>


  <%= f.submit class: 'btn btn-primary btn-block' %>

<% end %>

<%= link_to "投稿一覧画面にもどる", posts_path, class: 'btn btn-primary btn-block' %>
