<div class="container">
<div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p><%= notice %></p>
<h1>投稿一覧</h1>
<p><%= link_to "投稿する", new_post_path, class: 'btn btn-default' %></p>
<% @posts.each do |post| %>
<div class="row">
 <h4><strog><p>タイトル:<%= post.title %></p></strog></h4>
 <p>コメント:<%= post.content %></p>
 <p>画像:<img src="<%= post.gazou %>" class="img-responsive center-block"></p>
 <p>ユーザー:<%= post.user.name %></p>
 <%= link_to "投稿内容を編集する", edit_post_path(post.id), class: 'btn btn-default btn-sm btn-success' %>
 <%= link_to '投稿内容を削除する', post_path(post.id), method: :delete, data: { confirm: '本当に編集していいですか？' }, class: 'btn btn-default btn-sm btn-success'  %>
</div>
<div id="page-top-btn" class="page-top-btn">
 <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
<% end %>
</div>
</div>
